body {
  margin: 0;
  background: url('/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  color: white;
}

.glass {
  margin: 10vh auto;
  max-width: 600px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}

.links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

.subtitle {
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1rem;
  color: #f23d67ba; /* sigil crimson */
}

.links a:hover {
  color: #586abbdd; /* cadet bright blue */
  letter-spacing: 2px;
}

.glass {
  animation: fadeIn 2s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
